<h1>User Sign-up</h1>


<%= form_tag('/users') do %>
  <%= label_tag 'user_username', 'Enter your username' %>
  <%= text_field_tag :username %>

  <%= label_tag 'user_email', 'Enter your email address' %>
  <%= email_field_tag :email %>

  <%= label_tag 'user_password', 'Enter your password' %>
  <%= password_field_tag :password %>

  <%= submit_tag %>
<% end %>